node_modules
.git
.gitignore
.dockerignore
docker-compose.yml
Dockerfile
.env
.env.*
!.env.example
dist
logs
*.log
coverage
*.log
.npm
.bun-build
*.md
.husky
.vscode
.eslintrc.json
.prettierrc
commitlint.config.js
